<a href="https://colab.research.google.com/github/mohansaidinesh/oibsip_task5/blob/main/50_startups.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Multiple LinearRegression on Sales Dataset**

Import all libraries need to fit and predict the data

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model

read the CSV file using pandas

In [2]:
data=pd.read_csv("/content/Advertising.csv")
data.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

The head method is used to display the first five rows

Now remove the label data from the input data

In [4]:
x = data.drop('Sales', axis=1).values
y = data['Sales'].values
X=data.select_dtypes(include=np.number)

Get the size of both input and label data

In [5]:
X.shape , y.shape

((200, 5), (200,))

Now , X contains the data except the label data and Y contains the labeled data

Now split the data into training data and testing data in that 20% of data comes under training data and remaining 80% of data comes under the training data

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

After spliting of data find the shapes of train data as well as test data

In [7]:
X_train.shape, X_test.shape

((160, 5), (40, 5))

Now fit the LinearRegression model

In [8]:
reg = linear_model.LinearRegression()
reg.fit(X_train, y_train)

LinearRegression()

Now pass the X_train into the model so it display the y_predict values and find the errors.

In [9]:
from sklearn.metrics import mean_absolute_error,r2_score,mean_squared_error
y_pred1 = reg.predict(X_train)
print(f'Performance of the model on training data :\n')
print(f'MAE = {mean_absolute_error(y_train, y_pred1)}')
print(f'MSE = {mean_squared_error(y_train, y_pred1)}')
print(f'RMSE = {np.sqrt(mean_squared_error(y_train, y_pred1))}')
print(f'R_2 = {r2_score(y_train, y_pred1)}')

Performance of the model on training data :

MAE = 6.1201044232461754e-15
MSE = 5.102081164033335e-29
RMSE = 7.142885386196068e-15
R_2 = 1.0

Now pass the X_test into the model and we get predict values then find the errors

In [10]:
from sklearn.metrics import mean_absolute_error,r2_score,mean_squared_error
y_pred2 = reg.predict(X_test)
print(f'Performance of the model on test data :\n')
print(f'MAE = {mean_absolute_error(y_test, y_pred2)}')
print(f'MSE = {mean_squared_error(y_test, y_pred2)}')
print(f'RMSE = {np.sqrt(mean_squared_error(y_test, y_pred2))}')
print(f'R_2 = {r2_score(y_test, y_pred2)}')

Performance of the model on test data :

MAE = 7.105427357601002e-15
MSE = 6.243834064824309e-29
RMSE = 7.901793508327276e-15
R_2 = 1.0

**CONCLUSION :** We can say that testing data best fits for the LinearRegression model that we trained